<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 5.0.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynatrace.license.count" name="License Count">
    <information>
      <category value="" />
      <displayname value="License Count" />
      <description value="This plugin will count the number of licenses currently being consumed." />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
	  <property key="protocol" label="Protocol" type="list" description="Please select the protocol that will be used to establish the connection." default="http">
		<list>
		  <item value="http" />
		  <item value="https" />
		</list>
	  </property>
	  <property key="httpPort" label="Port" type="long" description="Enter the port number of the webserver. The default HTTP port is 8020 and HTTPS port is 8021." default="8020" />
      <property key="agentURL" label="Agent Overview URL" type="string" description="Enter the path to the webpage to be monitored. Example: /rest/management/..." default="/rest/management/reports/create/..." multiline="false" />
      <property key="username" label="Username" type="string" description="Please enter a username with at least read access to the agent overview dashboard" default="" multiline="false" />
      <property key="password" label="Password" type="password" description="Please enter the password for the user above." default="" />
      <property key="systemSplit" label="Split" type="list" description="Would you like to split the license count?" default="No Splitting">
        <list>
          <item value="No Splitting" />
          <item value="System Profile" />
          <item value="Collector" />
          <item value="Host" />
          <item value="Agent Version" />
        </list>
      </property>
	  <property key="agentGroup" label="And Split by Agent Group" type="boolean" description="Would you like to also split by Agent Group?" default="false">
        <visibility>
          <rule key="systemSplit" value="System Profile" />
        </visibility>
      </property>
      <property key="systemProfileFilter" label="Add a Filter" type="boolean" description="Would you like to filter the System Profile name?" default="false">
        <visibility>
          <rule key="systemSplit" value="System Profile" />
        </visibility>
      </property>
      <property key="collectorFilter" label="Add a Filter" type="boolean" description="Would you like to filter the Collector name?" default="false">
        <visibility>
          <rule key="systemSplit" value="Collector" />
        </visibility>
      </property>
      <property key="hostFilter" label="Add a Filter" type="boolean" description="Would you like to filter the Host name?" default="false">
        <visibility>
          <rule key="systemSplit" value="Host" />
        </visibility>
      </property>
      <property key="systemProfileName" label="System Profile Name" type="string" description="Please enter the name of the system profile you would like to split by. Leave blank if you would like to split on all system profiles." default="" multiline="false">
        <visibility>
          <rule key="systemProfileFilter" value="true" />
        </visibility>
      </property>
      <property key="collectorName" label="Collector Name" type="string" description="Please enter the name of the collector you would like to split by. Leave blank if you would like to split on all collectors." default="" multiline="false">
        <visibility>
          <rule key="collectorFilter" value="true" />
        </visibility>
      </property>
      <property key="hostName" label="Host Name" type="string" description="Please enter the name of the host you would like to split by. Leave blank if you would like to split on all hosts." default="" multiline="false">
        <visibility>
          <rule key="hostFilter" value="true" />
        </visibility>
      </property>
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="com.dynatrace.license.count.monitor" name="License Count">
    <plugin configid="com.dynatrace.license.count" class="com.dynatrace.license.count.monitor.counter" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.license.count.monitor.counts" name="Agent Count">
    <metricgroup monitorid="com.dynatrace.license.count.monitor">
      <metric defaultrate="purepath" name="Java Agents" unit="number" description="The number of currently licensed Java agents." />
      <metric defaultrate="purepath" name="dotNet Hosts" unit="number" description="The number of currently licensed .NET hosts." />
      <metric defaultrate="purepath" name="dotNet Agents" unit="number" description="The number of currently licensed .NET agents (not grouped by host)." />
      <metric defaultrate="purepath" name="Web Server Agents" unit="number" description="The number of currently licensed Web server agents." />
      <metric defaultrate="purepath" name="Message Broker Agents" unit="number" description="The number of currently licensed Message Broker agents." />
      <metric defaultrate="purepath" name="Native Agents" unit="number" description="The number of currently licensed Native agents." />
      <metric defaultrate="purepath" name="Unlicensed Agents" unit="number" description="The number of currently unlicensed agents." />
      <metric defaultrate="purepath" name="Licensed Agents" unit="number" description="The number of currently licensed agents." />
      <metric defaultrate="purepath" name="PHP Agents" unit="number" description="The number of currently PHP agents." />
      <metric defaultrate="purepath" name="CICS Agents" unit="number" description="The number of currently z/OS CICS agents." />
    </metricgroup>
  </extension>
</plugin>

